streamlit
langchain
langchain-google-genai
langchain-community
langchain-text-splitters

google-generativeai

faiss-cpu
sentence-transformers
pypdf

transformers
torch
tensorflow
tf-keras

xgboost
joblib
scikit-learn

pandas
numpy

yfinance
finnhub-python
ta
requests

plotly

python-dotenv